@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/GOTHIC.TTF"); }

a:hover {
  text-decoration: none; }

body {
  background: #d5d9e0; }

header nav .navbar-toggler {
  outline: none; }

header nav li {
  text-align: center;
  color: #000000;
  font-family: Code;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase; }

header nav li:hover {
  background: red; }

#slider {
  position: relative;
  background-image: url("../img/slider-bg.jpg");
  padding: 1rem;
  text-align: center; }
  #slider .text {
    padding: 2rem 0; }
    #slider .text h3, #slider .text h4 {
      color: #000000;
      font-family: "Century Gothic";
      font-size: 1.3rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      background: #ffea00; }
    #slider .text h3 {
      width: 50%;
      margin-bottom: 0.4rem; }
    #slider .text h4 {
      width: 80%;
      margin-bottom: 1rem; }
    #slider .text p {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.7rem;
      background: #414146;
      width: 70%;
      margin-bottom: 1rem; }
    #slider .text a {
      background: #000000;
      border-bottom: 0.2rem solid #ffea00;
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 1rem;
      padding: 0.3rem 1rem; }
  #slider .photo img {
    width: 100%;
    height: 100%; }
  #slider .left, #slider .right {
    background: #000000;
    opacity: 1;
    top: 40%;
    width: 2rem;
    height: 4rem; }
  #slider .carousel-indicators li {
    height: 1rem;
    width: 1rem;
    border: 0.1rem solid #000000; }
  #slider .carousel-indicators .active {
    background: #ffea00; }

#content {
  text-align: center; }
  #content h3 {
    color: #414146;
    font-family: "Century Gothic";
    font-size: 1.3rem;
    line-height: 1.313rem;
    text-transform: uppercase;
    margin: 1rem; }
  #content h4 {
    color: #414146;
    font-family: "Century Gothic";
    font-size: 1rem;
    line-height: 1.313rem;
    margin: 1rem; }
  #content .content-box {
    margin: 2rem;
    padding: 0; }
  #content .img {
    background: #414146;
    position: relative; }
    #content .img img {
      width: 100%;
      height: 100%; }
    #content .img .hover {
      position: absolute;
      top: 0;
      bottom: 0;
      text-align: center;
      background: #ffea00;
      width: 100%;
      padding-top: 18%;
      opacity: 1; }
      #content .img .hover a {
        font-size: 7rem; }
      #content .img .hover p {
        color: #000000;
        font-family: Code;
        font-size: 1.25rem;
        line-height: 2rem;
        text-transform: uppercase; }
    #content .img .hover:hover {
      opacity: 0;
      -webkit-transition: 1s;
      transition: 1s; }
  #content .bottom-name {
    background: #414146;
    padding: 1rem 0; }
    #content .bottom-name .name {
      color: #ffffff;
      font-family: Code;
      font-size: 1rem;
      line-height: 1.438rem;
      text-transform: uppercase; }
    #content .bottom-name p {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.625rem;
      line-height: 1.063rem; }
    #content .bottom-name .yellow {
      color: #ffea00; }
    #content .bottom-name .block {
      display: block; }

#portfolio {
  text-align: center; }
  #portfolio h2 {
    display: inline;
    color: #ffea00;
    font-family: "Century Gothic";
    font-size: 1.125rem;
    line-height: 5rem;
    text-transform: uppercase;
    background: #414146;
    padding: 0.5rem 1rem; }
  #portfolio h3 {
    color: #414146;
    font-family: "Century Gothic";
    font-size: 1.3rem;
    line-height: 1.5rem; }
  #portfolio .grid {
    padding: 1rem; }
    #portfolio .grid .grid-item {
      width: 33.375rem;
      height: auto;
      margin: 0.2rem; }
    #portfolio .grid .grid-item--width2 {
      width: 16.563rem;
      height: auto; }
    #portfolio .grid .grid-item--width3 {
      width: 17.188rem;
      height: auto; }
    #portfolio .grid .grid-item--width4 {
      width: 16.563rem;
      height: auto; }

#clients {
  text-align: center;
  width: 100%; }
  #clients h2 {
    display: inline;
    color: #ffea00;
    font-family: "Century Gothic";
    font-size: 1.125rem;
    line-height: 5rem;
    text-transform: uppercase;
    background: #414146;
    padding: 0.5rem 1rem; }
  #clients h3 {
    color: #414146;
    font-family: "Century Gothic";
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 2rem; }
  #clients .sliders {
    max-width: 250px;
    margin: 1rem auto; }

footer {
  background: #414146; }
  footer .about {
    margin: 0.5rem; }
    footer .about h4 {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 1.125rem;
      line-height: 4rem; }
    footer .about p {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.813rem;
      line-height: 1.313rem;
      margin-bottom: 1rem; }
  footer .photo-stream {
    margin: 0.5rem; }
    footer .photo-stream h4 {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 1.125rem;
      line-height: 4rem; }
    footer .photo-stream p {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.813rem;
      line-height: 1.313rem;
      margin-bottom: 1rem; }
    footer .photo-stream .button {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.938rem;
      line-height: 2.375rem;
      padding: 0.5rem 1rem;
      background: #000000;
      border-bottom: 0.2rem solid #ffea00; }
    footer .photo-stream .galery div {
      width: 100%;
      height: auto;
      margin: 0.5rem 0; }
  footer .social {
    margin: 0.5rem; }
    footer .social h3 {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 1.125rem;
      line-height: 2rem;
      margin: 1.5rem 0; }
    footer .social li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 1.5rem 0; }
      footer .social li p, footer .social li a {
        color: #ffffff;
        font-family: "Century Gothic";
        font-size: 0.813rem;
        line-height: 1.313rem; }
      footer .social li i {
        color: #ffffff;
        font-size: 1.5rem;
        margin-right: 0.5rem; }
    footer .social span {
      color: #ffea00; }
  footer .social-list {
    margin: 1rem; }
    footer .social-list span {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 1.125rem;
      line-height: 2rem; }
    footer .social-list i {
      color: #ffffff;
      background: #000000;
      padding: 0.2rem; }
    footer .social-list .facebook {
      padding: 0.2rem 0.4rem; }
  footer .contact {
    color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem; }
    footer .contact h3, footer .contact h4 {
      font-family: "Century Gothic";
      font-size: 1.125rem;
      line-height: 2rem;
      margin: 1.5rem 0; }
    footer .contact ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 1rem 0; }
      footer .contact ul li i {
        background: #000000;
        padding: 0.5rem;
        margin: 0 0.5rem; }
      footer .contact ul li a {
        color: #ffea00;
        font-size: 0.7rem; }
    footer .contact .mail p {
      margin: 1rem 0; }
    footer .contact input {
      width: 13rem;
      background: #414146;
      border: none;
      border-bottom: 0.2rem solid #ffea00;
      color: #ffffff;
      margin: 1rem 0; }
    footer .contact .button {
      width: 1.5rem;
      border: none;
      margin-left: 0.5rem; }
  footer .bottom {
    background: #000000;
    text-align: center; }
    footer .bottom p {
      color: #ffffff;
      font-family: "Century Gothic";
      font-size: 0.5rem;
      line-height: 2rem; }
    footer .bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding: 0.5rem 0.5rem; }
  footer .bottom ul li a {
    color: #ffffff;
    font-family: Code;
    font-size: 0.6rem;
    line-height: 2rem;
    text-transform: uppercase; }

@media screen and (min-width: 576px) {
  #clients .sliders {
    max-width: 530px;
    margin: 1rem auto; }
  footer .bottom p {
    font-size: 1rem;
    line-height: 4rem; }
  footer .bottom ul li a {
    font-size: 1rem;
    line-height: 3rem; } }

@media screen and (min-width: 768px) {
  #slider .text h3, #slider .text h4 {
    font-size: 3rem;
    line-height: 4rem; }
  #slider .text h3 {
    width: 70%;
    margin-top: 3rem; }
  #slider .text h4 {
    width: 100%;
    margin-bottom: 1rem; }
  #slider .text p {
    font-size: 1.2rem;
    width: 60%;
    margin-bottom: 1rem; }
  #clients .sliders {
    max-width: 1200px;
    margin: 1rem auto; }
  #content .img .hover {
    padding-top: 10%; }
    #content .img .hover a {
      font-size: 5rem; }
    #content .img .hover p {
      font-size: 1rem;
      line-height: 1rem; }
  .grid {
    position: relative; }
    .grid .grid-item {
      width: 20rem;
      height: 20rem;
      float: left; } }
